<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= event.eventName %></title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/eventDetails.css" type="text/css">
  
</head>
<body onload="load()" >
    <div class="container">
  <div class="row mt-5">
    <div class="col-md-6">
      <h1><%= event.eventName %></h1>
    </div>
    <div class="col-md-6">
      <a href="/logout"><button class="btn btn-outline-dark float-right">Logout</button></a>
      <a href="/userViewEvents"><button class="btn btn-outline-dark float-right">Events</button></a>
    </div>
    </div>
<div class="col-md-12 mt-3 bg-dark pb-2">
    <h2 class="text-secondary pt-4 mt-4">what's it about ?</h2>
    <div class="container bg-secondary">
        <p class="text-light p-4"><%= event.description %></p>
    </div>
</div>
<div class="col-md-12 bg-secondary p-3">
<div class="col-md-6 bg-secondary float-left">
    <h5 class="text-dark p-3">Booking start time : <%= event.bookStartTime %></h5>
</div>
<div class="col-md-6 bg-secondary offset-5">
    <h5 class="text-dark p-3">Booking end time : <%= event.bookEndTime %></h5 >
</div>
</div>
<div class="col-md-12  bg-dark pb-5">
<div class="col-md-3 float-left offset-1 mt-2">
    <h5 class="text-warning">Ticket price : <%= event.ticketPrice %></h5 >
</div>

<div class="col-md-3 float-left offset-1 mt-2">
    <h5 class="text-light">Total tickets : <%= event.totalTickets %></h5>
</div>
<div class="col-md-3 float-left offset-1 mt-2">
  <h5 class="text-light"><span id="ticketsLeft"><%= event.availableTickets %></span> tickets left!!! </h5 >
</div>

</div>
<div class="col-md-12  bg-dark mt-1 text-light" style="padding-bottom:6%">
  <div class="col-md-3">
    <h3 class="float-left mt-3">Like</h3>
  </div>

<i class="fa like fa-thumbs-up fa-2x ml-5 float-left mt-3" id="likes"></i>
<h3 class="float-left ml-2 text-warning mt-3" id="likesNum">N</h3>
<i class="fa like fa-users fa-2x ml-2 float-left mt-3" style="display: none;" id="likedUsers"></i>
<button id="openBuy" class="open-button float-right" style="margin-top:0.5%" onclick="openForm()">BOOK NOW</button>
</div>

<div class="form-popup" id="buyForm">
    <form class="form-container">
      <h1>Buy</h1> 
  
      <label for="numTickets"><b>Tickets :</b></label>
      <input id="ticketsNo" type="number" placeholder="Enter the no. of tickets" name="numTickets" min="1" required>
     
      <div class="row" id="error" style="display: none;">
        <p id="errormessage" style="color: red; margin-left: 5%;">message</p> 
      </div>
      <button id="buy" type="submit" class="btn"">Buy</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<div class="form-popup" id="showLikedUser">
  <form class="form-container">
    <button id="buy" type="submit" class="btn"">Buy</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
<div class="col-md-12 mt-3">
  <form>
  <div class="input-group">
    <h3 class="mt-2 ml-1">COMMENT</h3>
    <textarea rows = "2" cols = "90" class="input--style-5 ml-2" type="text" id="comment" required></textarea>
    <button class="btn btn-dark ml-4" type="submit" id="commentbtn">></button>
  </div>
  <div class="row" id="success" style="display: none;">
    <p id="submitMessage" style="color: green; margin-left: 16%;">message</p> 
  </div>
  </form>
</div>

<table id="dtVerticalScrollExample" class="table table-striped table-bordered mt-5" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th colspan="2">COMMENTS</th>
      </tr>
    </thead>
    <tbody>
      <%if (records.length >0){ %>
      <% records.forEach(function(row){ %>
      <tr>
        <td class="h4"><%= row.userName %></td>
        <td><%= row.comment %></td>
      </tr>
      <% })}else{ %>
        <tr>
            <td colspan="2">No comments</td>   
          </tr>
        <% } %>
    </tbody>
  </table>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function openForm() {
      document.getElementById("buyForm").style.display = "block";
    }
    
    function closeForm() {
      var x = document.getElementById("error");
      var y = document.getElementById("ticketsNo");
      y.value = '';
      x.style.display = "none";
      document.getElementById("buyForm").style.display = "none";
    }

    function load() {
      var x = document.getElementById("likes");
      var y = document.getElementById("likesNum");
      y.innerHTML = <%= totalLikes %>;
      var isLiked = <%= isLiked %>;
      if(isLiked === 1)
      {
        x.style.color = 'gold';
      }
      if(<%= event.availableTickets %> === 0)
      {
        document.getElementById("openBuy").innerHTML = "SOLD OUT";
        document.getElementById("openBuy").disabled = true;
      }

      var usersLiked = document.getElementById("likedUsers");
      if((<%= totalLikes %> > 0))
        usersLiked.style.display = "block";  
    }

    $('#buy').click(function(event) {
      var x = document.getElementById("error");
		  x.style.display = "none";
      if($("#ticketsNo").val() > 0)
      {
        event.preventDefault();
        var y = document.getElementById("errormessage");
              
        $.ajax({
          global: false,
          type: 'POST',
          url: '/buyTickets?eventId=<%= event.eventId %>&eventName=<%= event.eventName %>',
          data: {
              numTickets: $("#ticketsNo").val(),
          },
          success: function (result) {
            var ticketsLeft = document.getElementById("ticketsLeft");
            var numLeft = result.availableTickets;
            ticketsLeft.innerHTML = numLeft;
            alert($("#ticketsNo").val() + " tickets bought.");
            closeForm();
            console.log(result);
          },
          error: function (request, status, error) {
            if(request.responseText === "Event not found") {
              y.innerHTML = "Tickets can't be bought for this event";
              x.style.display = "block";
              //alert("Username already exists. Enter another name.");
            } else if(request.responseText === "Event sold out") {
              y.innerHTML = "Event sold out. No tickets left.";
              x.style.display = "block";
              //alert("Username already exists. Enter another name.");
            } else if(request.responseJSON.availableTickets) {
              y.innerHTML = "Only " + request.responseJSON.availableTickets + " tickets left";
              x.style.display = "block";
              //alert("Username already exists. Enter another name.");
            } 
          }     
        });
      }
    });

    $('#likes').click(function() {
      var usersLiked = document.getElementById("likedUsers");
      var x = document.getElementById("likes");
      var y = document.getElementById("likesNum");
      var numLikes = <%= totalLikes %>;
      var z = numLikes;
      var isLiked = <%= isLiked %>;
      if(isLiked === 1) {
        z = numLikes-isLiked;
      }
      if(x.style.color === 'gold')
      {
        if(z === 0)
          usersLiked.style.display = "none";
        x.style.color = 'lightgrey';
        z = z;
        isLiked = 2;
        y.innerHTML = z;
      }
      else{
        if(z === 0)
          usersLiked.style.display = "block";
        x.style.color = 'gold';
        z = z+1;
        isLiked = 1;
        y.innerHTML = z;
      }
      $.ajax({
          global: false,
          type: 'POST',
          url: '/like',
          data: {
            eventId: "<%= event.eventId %>",
            eventName: "<%= event.eventName %>",
            liked: isLiked
          },
          success: function (result) {
              console.log(result);
          },
          error: function (request, status, error) {
              serviceError();
          }
      });
    });

$('#commentbtn').click(function() {
    var x = document.getElementById("success");
		x.style.display = "none";
    var comment = document.getElementById("comment");
    if(comment.value !== '') {
      event.preventDefault();

      $.ajax({
          global: false,
          type: 'POST',
          url: '/comment',
          data: {
            eventId: "<%= event.eventId %>",
            eventName: "<%= event.eventName %>",
            comment: comment.value
          },
          success: function (result) {
              var y = document.getElementById("submitMessage");
              y.innerHTML = "Comment submitted";
						  x.style.display = "block";

              var table = document.getElementById("dtVerticalScrollExample");
              if (<%= records.length %> === 0) {
                table.deleteRow(1);
              }
              var row = table.insertRow(1);
              var cell1 = row.insertCell(0);
              var cell2 = row.insertCell(1);
              cell1.innerHTML = "<%= user %>";
              cell1.className = "h4";
              cell2.innerHTML = comment.value;
              comment.value = '';
              //alert("Comment submitted");
              console.log(result);
          },
          error: function (request, status, error) {
              serviceError();
          }
      });
    }
});
    </script>
</body>
</html>
